# Python
__pycache__/
*.py[cod]
.venv/
.env/
.ipynb_checkpoints/

# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml


# Ignore CSV/PNG everywhere except in datasets/
*.csv
*.png

# But keep datasets (negate ignore rules)
!datasets/**/*.csv
!datasets/**/*.png

# OS junk
.DS_Store
Thumbs.db
