# Python
__pycache__/
*.py[cod]
.venv/
.env/
.ipynb_checkpoints/

# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml


# Ignore CSV/PNG everywhere
*.csv
*.png

# But keep datasets (inside StellarModelA)
!StellarModelA/datasets/**/*.csv
!StellarModelA/datasets/**/*.png


# OS junk
.DS_Store
Thumbs.db
